body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --main: #2196f3;
  --dark-main: #01579b;
  --green: #4caf50;
  --orange: #ff9800;
  --red: #f44336;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}
