:root {
  --main: #2196f3;
  --dark-main: #01579b;
  --dark-main-hover: #044374;
  --green: #4caf50;
  --green-hover: #358838;
  --orange: #ff9800;
  --orange-hover: #e08a07;
  --red: #f44336;
  --red-hover: #cf352a;
  --black: #212121;
  --light: #ffffff;
  --dark: #2c2c2c;
}

body,
html {
  margin: 0;
  padding: 0;
  color: var(--black);
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

.highProbabilty {
  color: var(--green);
}

.mediumProbabilty {
  color: var(--orange);
}

.lowProbabilty {
  color: var(--red);
}

.light {
  background: var(--light);
}

.dark {
  background: var(--dark);
}
