.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
  transition: all ease 200ms;
  position: sticky;
  top: 20px;
  z-index: 10;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0%;
  border: 0rem solid var(--main);
  transition: all ease 200ms;
  border-radius: 50%;
}

.button:hover::after {
  border-width: 0.2rem;
}

.button:hover > .icon {
  color: var(--main);
  transform: scale(1.2);
}

.button:hover {
  background-color: white;
}

.icon {
  transition: all ease 200ms;
  color: white;
}

.isRunning {
  pointer-events: none;
  background-color: transparent;
}

.isRunningLogo {
  pointer-events: none;
  color: rgba(128, 128, 128, 0.658);
}
