.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: -5rem;
  z-index: 10;
  right: 2rem;
  border-radius: 1rem;
  background-color: var(--dark-main);
  color: white;
  padding: 0 0.5rem;
  width: 10rem;
  height: 3rem;
  animation: enter-leave 3s ease;
}
.p {
  margin: 0 0.5rem;
}

@keyframes enter-leave {
  0% {
    top: -5rem;
  }
  20% {
    top: 1rem;
  }

  80% {
    top: 1rem;
  }

  100% {
    top: -5rem;
  }
}
